<ion-content [fullscreen]="true">
  <ion-grid id="grid">
    <ion-col>
      <ion-button color="dark" (click)="mostrarAlerta()" size="small">Instrucciones</ion-button>
      <b id="puntuacion">Tu puntuacion es de {{ this.puntuacion }} puntos</b>
    </ion-col>
    <ion-row>
      <ion-grid>
        <h1 class="timerypuntuacion">Tiempo en Dificultad Dificil: {{ seconds }} segundos</h1>
      </ion-grid>
    </ion-row>
    <br>
    <ion-row class="row">
      @for(boton of juego; track boton; let i = $index){
        @if(i <= 9){

        <ion-col class="cols">
          @if(boton.id == activeButton){
            <ion-button (click)="deshabilitarBoton(boton.color)" [disabled]="boton.id != activeButton" [color]="(boton.id != activeButton) ? 'success' : boton.color" class="botones_juego" shape="round"></ion-button>
          }
        </ion-col>
      }
      <!--<ion-button (click)="deshabilitarBoton(boton.color)" [disabled]="boton.id != activeButton" [color]="(boton.id != activeButton) ? 'success' : boton.color" class="botones_juego" shape="round"></ion-button>-->
      }
    </ion-row>
    <ion-row class="row">
      @for(boton of juego; track boton; let i = $index){
        @if(i >=10 && i <= 19){

        <ion-col class="cols">
          @if(boton.id == activeButton){
            <ion-button (click)="deshabilitarBoton(boton.color)" [disabled]="boton.id != activeButton" [color]="(boton.id != activeButton) ? 'success' : boton.color" class="botones_juego" shape="round"></ion-button>
          }
        </ion-col>
      }
      <!--<ion-button (click)="deshabilitarBoton(boton.color)" [disabled]="boton.id != activeButton" [color]="(boton.id != activeButton) ? 'success' : boton.color" class="botones_juego" shape="round"></ion-button>-->
      }
    </ion-row>
    <ion-row class="row">
      @for(boton of juego; track boton; let i = $index){
        @if(i >=20 && i <= 29){

        <ion-col class="cols">
          @if(boton.id == activeButton){
            <ion-button (click)="deshabilitarBoton(boton.color)" [disabled]="boton.id != activeButton" [color]="(boton.id != activeButton) ? 'success' : boton.color" class="botones_juego" shape="round"></ion-button>
          }
        </ion-col>
      }
      <!--<ion-button (click)="deshabilitarBoton(boton.color)" [disabled]="boton.id != activeButton" [color]="(boton.id != activeButton) ? 'success' : boton.color" class="botones_juego" shape="round"></ion-button>-->
      }
    </ion-row>
    <ion-row class="row">
      @for(boton of juego; track boton; let i = $index){
        @if(i >=30){

        <ion-col class="cols">
          @if(boton.id == activeButton){
            <ion-button (click)="deshabilitarBoton(boton.color)" [disabled]="boton.id != activeButton" [color]="(boton.id != activeButton) ? 'success' : boton.color" class="botones_juego" shape="round"></ion-button>
          }
        </ion-col>
      }
      <!--<ion-button (click)="deshabilitarBoton(boton.color)" [disabled]="boton.id != activeButton" [color]="(boton.id != activeButton) ? 'success' : boton.color" class="botones_juego" shape="round"></ion-button>-->
      }
    </ion-row>
  
  
</ion-grid>
  
<ion-row>
  <ion-grid>
    <ion-col>
      <ion-button id="casita" class="botones" color="transparent" fill="none" (click)="toPrincipal()" shape="round" [disabled]="activeButton">
        <ion-icon slot="icon-only" name="home" color="light"></ion-icon>
      </ion-button>
      <ion-button class="botones" color="transparent" fill="none" (click)="refreshPage()" shape="round" [disabled]="activeButton">
        <ion-icon slot="icon-only" name="reload-circle" color="light"></ion-icon>
      </ion-button>
      <ion-button class="botones" id="start" (click)="startTimer()" color="transparent" fill="none" [disabled]="activeButton">·START·</ion-button>
    </ion-col>
  </ion-grid>
</ion-row>
</ion-content>
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">