.botones_juego{
  height: 60px;
  width: 60px;
  align-items: center;
  
}
#puntuacion{
  margin-left: 74%;
  display: flex;
justify-content: center;  // Centra el contenido horizontalmente
align-items: center;      // Centra el contenido verticalmente
height: 100%;
color: #2e31e5; /* Color llamativo (rosa intenso) */
text-transform: uppercase; /* Convierte el texto en mayúsculas */
letter-spacing: 2px; /* Espaciado entre letras */
text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5); /* Efecto de sombra suave */
transition: transform 0.3s ease-in-out;
font-family: 'Orbitron', sans-serif;; /* Fuente moderna */
}
.botones{
  margin-right: 2%;
}
.botones:hover {
transform: scale(1.2);
}
#start{
  width: 120px;
  height: 60px;
  margin-left: 35%;
  display: inline-block;
  padding: 12px 24px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de la fuente */
  font-weight: bold; /* Negrita */
  text-transform: uppercase; /* Texto en mayúsculas */
  text-align: center;
  color: #000000; /* Color del texto */
  background: linear-gradient(45deg, #00ffff, #003898); /* Gradiente */
  border: none; /* Sin bordes */
  border-radius: 20px; /* Bordes redondeados */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Sombra inicial */
  cursor: pointer; /* Mano al pasar */
  transition: all 0.3s ease-in-out; /* Animación suave */
  position:relative;
}
#start:hover {
  transform: scale(1.2); /* Expande el botón */
  box-shadow: 0 6px 20px rgba(0, 255, 238, 0.6); /* Efecto de elevación */
}
.timerypuntuacion{
  
display: flex;
justify-content: center;  // Centra el contenido horizontalmente
align-items: center;      // Centra el contenido verticalmente
height: 100%;
color: #2e31e5; /* Color llamativo (rosa intenso) */
text-transform: uppercase; /* Convierte el texto en mayúsculas */
letter-spacing: 2px; /* Espaciado entre letras */
text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5); /* Efecto de sombra suave */
transition: transform 0.3s ease-in-out;
font-family: 'Orbitron', sans-serif;; /* Fuente moderna */  
}
ion-content{
  --background:none;
  height: 100%;
  background-image: url(../../assets/images/pixelcut-export.jpeg);
  background-size: cover;
  background-position: center;
}
#grid{
position: static;
}
.row{
margin-top: 5%;
margin-left: 3%;
margin-right: 3%;
}
.cols{
position:static;
height: 5em;
}