<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-col>
      <ion-button color="dark" (click)="mostrarAlerta()" size="small">Instrucciones</ion-button>
      <b id="puntuacion">Tu puntuacion es de {{ this.puntuacion }} puntos</b>
    </ion-col>
    <ion-row>
      <ion-grid>
        <h1 class="timerypuntuacion">Tiempo en Dificultad Media: {{ seconds }} segundos</h1>
      </ion-grid>
    </ion-row>
    <br>
  @for(boton of juego; track boton; let i = $index){
    <ion-button (click)="deshabilitarBoton(boton.color)" [disabled]="boton.id != activeButton" [color]="(boton.id != activeButton) ? 'success' : boton.color" class="botones_juego" shape="round"></ion-button>
  }
  
</ion-grid>
  
<ion-row>
  <ion-grid>
    <ion-col>
      <ion-button id="casita" class="botones" color="transparent" fill="none" (click)="toPrincipal()" shape="round" [disabled]="activeButton">
        <ion-icon slot="icon-only" name="home" color="light"></ion-icon>
      </ion-button>
      <ion-button class="botones" color="transparent" fill="none" (click)="refreshPage()" shape="round" [disabled]="activeButton">
        <ion-icon slot="icon-only" name="reload-circle" color="light"></ion-icon>
      </ion-button>
      <ion-button class="botones" id="start" (click)="startTimer()" color="transparent" fill="none" [disabled]="activeButton">·START·</ion-button>
    </ion-col>
  </ion-grid>
</ion-row>
</ion-content>
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">