<ion-content [fullscreen]="true">
  <h1 id="title">ACCELERATED</h1>
    
      <div id="imagenes">
        <ion-img id="imagen1" src="../../assets/images/Mano_con_verde.png" alt="Mano_con_verde"></ion-img>
      <ion-img id="imagen2" src="../../assets/images/mano.png" alt="Mano_con_rojo"></ion-img>
      </div>
      <ion-button (click)="pasarMenu()" color="transparent" fill="none" id="boton1">JUGAR</ion-button><br>
      <ion-button (click)="pasarRanking()" color="transparent" fill="none" id="boton2">RÁNKING</ion-button>
       
    <ion-grid>
       <ion-col>
        <p>
          User name: {{ auth_user?.email }}
          <ion-img src="auth_user?.picture" alt="auth_user?.picture"></ion-img>
        </p>
      </ion-col>
    </ion-grid>
</ion-content>
