#title{
  text-align: center;
  margin-top: 10%;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;; /* Fuente moderna */
  color: #000000; /* Color llamativo (rosa intenso) */
  text-transform: uppercase; /* Convierte el texto en mayúsculas */
  letter-spacing: 2px; /* Espaciado entre letras */
  text-shadow: 5px 5px 5px rgba(0, 4, 255, 0.5); /* Efecto de sombra suave */
  transition: transform 0.3s ease-in-out;
}
#boton1{
  display: inline-block;
  padding: 24px 48px; /* Espaciado interno */
  font-size: 20px; /* Tamaño de la fuente */
  font-weight: bold; /* Negrita */
  text-transform: uppercase; /* Texto en mayúsculas */
  text-align: center;
  color: #000000; /* Color del texto */
  background: linear-gradient(45deg, #6a11cb, #2575fc); /* Gradiente */
  border: none; /* Sin bordes */
  border-radius: 20px; /* Bordes redondeados */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Sombra inicial */
  cursor: pointer; /* Mano al pasar */
  transition: all 0.3s ease-in-out; /* Animación suave */
  margin-left: 42%;
  margin-bottom: 6%;
}
#boton1:hover{
  transform: scale(1.1);
  box-shadow: 0 6px 20px rgba(0, 38, 255, 0.6); /* Efecto de elevación */
}
#boton2:hover{
  transform: scale(1.1);
  box-shadow: 0 6px 20px rgba(0, 38, 255, 0.6); /* Efecto de elevación */
}
#id{
  margin-bottom: 0%;
}
#imagen1{
  width: 200px;
  height: 200px;
}
#imagen2{
  width: 200px;
  height: 200px;
  margin-left: 80%;
}
#imagenes{
  display: flex;
}
ion-content{
  --background:none;
  height: 100%;
  background-image: url(https://static.vecteezy.com/system/resources/previews/009/749/967/non_2x/wave-background-in-blue-color-with-line-elements-technology-startup-game-suitable-for-websites-mobile-applications-posters-games-printing-and-more-free-vector.jpg);
  background-size: cover;
  background-position: center;
}
#nickname {
  font-weight: bold;
  font-family: 'Poppins', sans-serif; /* Fuente moderna */
  color: #2e31e5; /* Color llamativo (rosa intenso) */
  text-transform: uppercase; /* Convierte el texto en mayúsculas */
  letter-spacing: 2px; /* Espaciado entre letras */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Efecto de sombra suave */
  transition: transform 0.3s ease-in-out;
}