#botonCasa{
    margin-top: 42%;
}
ion-col{
    display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #7200ac;
  border: solid 1px #fff;
  color: #fff;
}